/* color */

:root {
    --primary-color: #00D74A;
    --body: #F6F6F6;
}

/* color */

/* font */

:root {
    --primary-font: "SF Pro Display";
    --secondary-font: "Noto Sans";
    --tertiary-font: "Futura Md BT";
    --quaternary-font: "Roboto";
}

/* font */